div.buttondiv button {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-family: fantasy;
  border-radius: 16px;
  transition: transform 0.1s ease-in-out;
  justify-content: center;
  padding: 10px;
 z-index: 1;
}
a {
  color: rgb(0, 0, 0);
}
 div.buttondiv :hover {
  transform: scale(2);
 }
div.buttondiv {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  gap: 100px;
 }
 div.container {
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgbdl=pexels-souvenirpixels-417074.jpg&fm=jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 div.two {
  position: absolute;
  height: 1000px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
 }

 @media screen and (max-width: 990px)
 {
    div.two {
      height: 300px;
      h1 {
        font-size: 1.2em;
      }
    }
    div.buttondiv {
      gap: 10px;
      button {
        width: 50px;
        height: 50px;
        font-size: 16px;
      }
    }
 }


 
 